body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


body.login-page {
    background-color: #fff0f3;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; 
    padding: 0; 
}

.login-container {
    background-color: #ffe6eb;
    border: 2px solid #ff4d6d;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 0 15px rgba(255, 77, 109, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: auto; 
}

.login-container h2 {
    color: #cc0033;
    margin-bottom: 25px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffccd5;
    border-radius: 6px;
    font-size: 16px;
}

.login-container button[type="submit"] {
    background-color: #ff4d6d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login-container button[type="submit"]:hover {
    background-color: #e6003c;
}

.mensagem-erro {
    color: #b30000;
    margin-bottom: 15px;
    font-weight: bold;
}